APP_ENV=development

DB_HOST=localhost
DB_NAME=gpe_go_db
DB_USER=root
DB_PASS=

JWT_SECRET=
JWT_EXPIRATION=86400

ENCRYPTION_KEY=

AWS_S3_BUCKET=
AWS_S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_ALLOWED_ORIGIN=https://go.guadalupe.gob.mx
